<launch>
	<arg name="external_camera" default="true"/>
	<arg name="gzweb" default="true"/>
	<arg name="gzweb_port" default="7070"/>

	<!-- Simulator -->
	<include file="$(find clover_simulation)/launch/simulator.launch">
		<arg name="gui" value="false"/>
	</include>

	<!-- External camera -->
	<node name="$(anon spawn)" output="screen" pkg="gazebo_ros" type="spawn_model" if="$(arg external_camera)"
		args="-file $(find clover_simulation)/models/camera/camera.sdf -sdf -model camera -x -1.2 -z 2.8 -Y 0.55 -P 0.65"/>

	<!-- gzweb -->
	<node name="gzweb" pkg="clover_simulation" type="gzweb" args="$(arg gzweb_port)" if="$(arg gzweb)"/>
</launch>
