[Unit]
Description=Clover Simulator
Requires=roscore.service
Requires=xvfb.service
After=xvfb.service

[Service]
Environment=DISPLAY=:1.0
User=pi
ExecStart=/bin/bash -c ". /home/pi/catkin_ws/devel/setup.sh; \
                      unbuffer roslaunch /cloud.launch --wait --screen --skip-log-check \
                      2> >(tee /tmp/clover.err)"
StandardOutput=file:/var/log/clover.log
StandardError=file:/var/log/clover.log

[Install]
WantedBy=multi-user.target
